@import '../../assets/style/colors';

.inputWrapper {
  position: relative;
  padding: 15px 0 0;
  margin: 20px 0;
  width: 100%;
}

.regularInput {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $primary;
  padding: 7px 40px 7px 0;
  background: transparent;
  transition: border-color 0.7s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .inputLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.inputLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.regularInput:focus, .regularInput:valid {
  ~ .inputLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-bottom: 2px solid $primary;
}

/* reset input */
.regularInput{
  &:required,&:invalid { box-shadow:none; }
}

.inputIcon {
  position: absolute;
  top: 25px;
  right: 8px;
  color: $gray;

  &:hover {
    cursor: pointer;
  }
}